{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
        <div class="mb-3">
           <a href="{{ path('get_all_users') }}">All Users</a>
        </div>
        {% if is_granted('ROLE_ADMIN') %}
            <a href="#">Delete</a>
        {% endif %}
        {% if is_granted('ROLE_ADMIN') %}
            Administrator
        {% elseif is_granted('ROLE_USER') %}
            User
        {% else %}
            Anonymous
        {% endif %}
    {% endif %}
    <h1>get all users</h1>
    {#{{ dump(users) }}#}

    <table style="width: 100%">
    {% for user in users %}
        <tr>
            <td>{{ user.id }}</td>
            <td>{{user.email}}</td>
            <td>{{user.roles|join(',')}}</td>
            <td>
                <a href="{{ path('app_user_edit', {'user': user.id}) }}" class="btn btn-primary">Edit</a>
            </td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}
