{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}


    <h1>get all news</h1>
    {% for new in news %}
        <li></li>
        <li>{{ new.id }}|{{new.title}}
            <a href="{{ path('news_edit',{new_id: new.id}) }}" class="btn btn-primary">Edit</a>
            <a href="{{ path('news_delete',{new_id: new.id}) }}" class="btn btn-danger">Delete</a>

        </li>
    {% endfor %}
{% endblock %}
