<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}

    {% endblock %}
</head>
<body>


<div>
    {% if app.session.flashBag %}
        {% for message in app.session.flashBag.get('success') %}
            <b>{{ message }}</b> <br>
        {% endfor %}
    {% endif %}
</div>

{% if app.user %}


    <nav class="navbar navbar-expand-lg navbar-light bg-light">


        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item"><a class="nav-link" href=#">{{ app.user.username }}</a>
                <li class="nav-item"><a class="nav-link" href="{{ path('app_logout') }}">Logout</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ path('get_all_users') }}">All Users</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ path('news') }}">News</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ path('readable_news') }}">Readable news</a></li>


                {% block menu %}
                {% endblock %}
            </ul>

        </div>
    </nav>
    <hr>
{% endif %}
<div class="container">
{% block body %}{% endblock %}
</div>
{% block javascripts %}{% endblock %}
</body>
</html>
